* {
    box-sizing: border-box;
}
body, window {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}
header {
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;
}

header .return {
    margin-left: auto;
}

header div, header button {
    margin-left: 1em;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    display: inline-block;
}

button {
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 1em;
    color: gray;
    font-weight: bold;
    margin: 0.2em;
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-start;
    width: calc(20em + 700px);
    margin: 0 auto;
}

.return {
    float: right;
}


.main header {
    width: 100%;
}

.main div {
    margin-bottom: 0.5em;
}

/** 設定 */
.params {
    width: 20em;
    padding: 1em;
}

.birth-date-area {
    display: flex;
}

.birth-date {
    width: 6.5em;
}


.deg {
    text-align: right;
    width: 3.5em; 
}
.min {
    text-align: right;
    width: 3em;
}

.result {
    padding: 1em;
    max-width: calc(100% - 20em);
}

.result div {
    margin-bottom: 0.5em;
}

.orb__input {
    display: flex;
    width: 100%;
}

.orb__input div {
    margin-right: 1em;
}

.horoscope-area {
    width: 700px;
    text-align: center;
}

.horoscope {
    width: 700px;
    max-width: 100%;
}

#description {
    position: absolute;
    display: none;
    border: 1px solid #000;
    background-color: #fff;
    padding: 0.2em;
    white-space: nowrap;
}

.description__icon {
    width: 1.5m;
    height: 1.8em;
    vertical-align: text-bottom;
    margin-right: 0.2em;
}

.aspect-table {
    margin: 1em auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aspect-body {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

.aspect-table h4 {
    text-align: center;
}

.table-caption-row {
    writing-mode: vertical-rl;
}

.aspect-table h3 {
    text-align: center;
}
.aspect-table table {
    border-collapse: collapse;
}

.aspect-table td {
    border: 1px solid #000;
    width: 3em;
    line-height: 1.2;
    min-width: 2em;
    text-align: right;
    cursor: default;
}

.aspect-table th {
    text-align: right;
    white-space: nowrap;
    padding-right: 0.4em;
}
.outer-body-th {
    min-height: 1em;
    vertical-align: bottom;
}
.outer-body-th span {
    writing-mode: vertical-rl;
}
#aspect-data {
    position: absolute;
    display: none;
    border: 1px solid #000;
    background-color: #fff;
    white-space: nowrap;
    padding: 0 0.3em;
}

.data-area {
    display: flex;
    justify-content: flex-start;
}

.body-table {
    border-collapse: collapse;
}
.body-table td {
    padding-right: 1em;
    border-bottom: 1px solid #000;
    text-align: left;
    white-space: nowrap;
}


.body-table td:nth-child(2) {
    text-align: right;
}
.body-table td:nth-child(4) {
    text-align: right;
}
.body-table td:last-child {
    padding-right: 0;
}

.body-table__icon {
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.1em;
}

.body-data {
    margin: auto;
    width: fit-content;
    padding: 1em;
    text-align: center;
}

.body-data-inner {
    display: flex;
    width: fit-content;
}

.body-data-inner div {
    padding: 1em;
}

.house-data {
    padding: 1em 0;
}

#house-list {
    padding: 0;
    width: fit-content;
}
#house-list li {
    list-style-type: none;
    border-bottom: 1px solid #000;
}

#house-list li span {
    padding-right: 1em;
}

#house-list li span:nth-child(3) {
    padding-right: 0;
}

.house_name {
    display: inline-block;
    width: 7em;
}

.house_sign  {
    display: inline-block;
    width: 4em;
    text-align: right;
}

.house_time {
    display: inline-block;
    width: 4em;
}

footer {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 4em;
}

.btn_magnify {
    width: 4em;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 1em;
    color: gray;
    font-weight: bold;
}

#magnify {
    width: 700px;
    text-align: center;
}

.btn_magnify:active {
    outline: none;
    background-color: #ddd;
    color: white;
}

.btn_magnify:focus {
    outline:none;
}

.btn_magnify:disabled {
    opacity: 0.3;
}

/** オーブ */
.major {
    border: 2px solid blue;
    padding: 0.5em;
    border-radius: 0.5em;
}

.hard {
    border: 2px solid red;
    padding: 0.5em;
    border-radius: 0.5em;
}

.soft {
    border: 2px dashed red;
    padding: 0.5em;
    border-radius: 0.5em;
}

.bold {
    font-weight: bold;
}

.body-table td .sabian {
    white-space: normal;
}

.draw-setting {
    display:flex;
    justify-content: flex-start;
}

.aspect-setting {
    margin: 0 1em;
}

.aspect-display {
    display: flex;
    flex-direction: row;
}

.btn_setting {
    position: relative;
    bottom: 0.3em;
}

#setting {
    overflow: hidden;
}

.setting__hide {
    height: 0;
    margin-bottom: 11em !important;
}


#body_setting .inputs {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

#body_setting .icon {
    height: 1em;
    width: 1em;
    margin: 0 1em 0 0.5em;
    position: relative;
    top: 0.1em;
}

#body_setting .category {
    margin: 0;
    margin-right: 2em;
    margin-bottom: 1em;
}

#body_setting label {
    white-space: nowrap;
}

#obe_setting table {
    margin: auto;
}

.dialog_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dialog__header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dialog__header button {
    width: fit-content;
}
 
#body_setting {
    max-width: 80vw;
    width: 80vw;
    height: 80vh;
}

#obe_setting {
    max-width: 80vw;
}

#body_setting__inputs {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#save_setting_dialog {
    border-radius: 0.5em;
}

#save_setting_dialog h2 {
    font-size: 1em;
    display: inline-block;
}

#save_setting_dialog input {
    width: calc(100% - 4em);
}

#close_seve_setting {
    border: none;
    font-size: 1.2em;
    background-color: #fff;
    float: right;
    cursor: pointer;
}
#load_setting_dialog h2 {
    font-size: 1em;
    display: inline-block;
}

#close_load_setting {
    border: none;
    font-size: 1.5em;
    background-color: #fff;
    float: right;
    cursor: pointer;
}

.setting_item_wrapper {
    min-width: 15em;
    border: 1px solid #000;
    border-radius: 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.4em 0;
    padding: 0.1em;
    align-items: center;
}

.setting_item {
    cursor: pointer;
    flex: 1;
}

.delete_setting {
    font-size: 1em;
    float: right;
    border: none;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    padding: 0;
    border-radius: 0.75em;
    background-color: red;
    color: black;
    cursor: pointer;
}

@media only screen and (max-device-width: 480px) {
    
    .modal a.close-modal { 
        transform: scale(2);
    }
    header h1, header button {
        margin: 0;
        margin-right: 0.5em;
    }
    button, select {
        font-size: 12pt;
    }
    #body_setting {
        width: 80vw;
        height: 80vh;
    }
    #body_setting, #obe_setting, #save_setting_dialog, #load_setting_dialog {
        font-size: 3vw;
        width: fit-content;
    }
    #body_setting input, #obe_setting input, #save_setting_dialog input, #load_setting_dialog input{
        font-size: 3vw;
    }
    #save_setting_dialog button {
        font-size: 3vw;
    }
    .category {
        margin: 0 1em;
    }
    #body_setting span {
        margin-bottom: 0.5em;
    }
    #body_setting input[type="checkbox"] {
        width: 25pt;
        height: 25pt;
    }
    .category{
        width: 100%;
    }
}
