.inputs {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

.icon {
    height: 1em;
    width: 1em;
    margin: 0 1em 0 0.5em;
    position: relative;
    top: 0.1em;
}

.category {
    margin: 0 2em;
}

label {
    white-space: nowrap;
}

h1 {
    display: inline-block;
    margin: 0 1em;
}

footer {
    font-size: 0.8em;
    padding: 1em;
}