#obe_setting table {
    min-width: 28em;
    border-collapse: collapse;
}
.header th {
    border: 1px solid black;
    background-color: #aaf;
    height: 1em;
}

.body td {
    border: 1px solid black;
    text-align: center;
    height: 1em;
} 

.body th {
    border: 1px solid black;
    height: 1em;
}

.active {
    background-color: #aaf;
}

.hard {
    color: red;
}

.soft {
    color: blue;
}

#body_setting label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.body_section__title {
    display: inline-block;
}

.indivisuals {
    margin-bottom: 1em !important;
}

.add_indivisuals {
    width: 10em;
}

.obe_setting__header { 
    margin: 1em auto;
    width: 28em;
}

.add_indivisual__button {
    margin: 0.5em 1em;
}

#obe_setting select {
    height: 2em;
    font-size: 1em;
}