* {
  box-sizing: border-box;
}
body,
window {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}
header {
  padding: 1em;
  width: 100%;
  display: flex;
  align-items: center;
}

header .return {
  margin-left: auto;
}

header div,
header button {
  margin-left: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  display: inline-block;
}

h3,
h4 {
  font-size: 16px;
}

button {
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 1em;
  color: gray;
  font-weight: bold;
  margin: 0.1em;
  padding: 0.1em 0.5em;
  font-size: 16px;
}

.main_content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
  width: calc(18em + 600px);
  margin: 0 auto;
}

.return {
  float: right;
}

.main header {
  width: 100%;
}

.main div {
  margin-bottom: 0.5em;
}

#description {
  position: absolute;
  display: none;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.2em;
  white-space: nowrap;
  max-width: 20em;
}

#description div:last-child {
  white-space: normal;
}

.description__icon {
  width: 1.5m;
  height: 1.8em;
  vertical-align: text-bottom;
  margin-right: 0.2em;
}
