* {
    box-sizing: border-box;
}
body, window {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}
header {
    padding: 1em;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4 {
    margin: 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-start;
    width: calc(18em + 600px);
    margin: 0 auto;
}

.main header {
    width: 100%;
}

.main div {
    margin-bottom: 0.5em;
}

/** 設定 */
.params {
    width: 18em;
    padding: 1em;
}

#birth-date {
    width: 6.5em;
}


.deg {
    text-align: right;
    width: 3.5em; 
}
.min {
    text-align: right;
    width: 3em;
}

.result {
    padding: 1em;
    max-width: calc(100% - 18em);
    flex: 1;
}

.result div {
    margin-bottom: 0.5em;
}

.orb__input {
    display: flex;
    width: 100%;
}

.orb__input div {
    margin-right: 1em;
}

.horoscope-area {
    width: 600px;
    text-align: center;
}

.horoscope {
    width: 600px;
    max-width: 100%;
}

#description {
    position: absolute;
    display: none;
    border: 1px solid #000;
    background-color: #fff;
    padding: 0.2em;
    white-space: nowrap;
    max-width: 20em;
}

#description div:last-child {
    white-space: normal;
}

.description__icon {
    width: 1.5m;
    height: 1.8em;
    vertical-align: text-bottom;
    margin-right: 0.2em;
}

.aspect-table {
    width: 100%;
    padding: 1em;
    text-align: center;
    page-break-inside: avoid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aspect-table {
    width: fit-content;
    padding: 2em;
}

.aspect-table table {
    border-collapse: collapse;
}

.aspect-table td {
    font-size: 0.8em;
    border: 1px solid #000;
    width: 3em;
    height: 3em;
    min-width: 3em;
    min-height: 3em;
    text-align: right;
    cursor: default;
}

.aspect-table th {
    text-align: left;
    white-space: nowrap;
    max-width: 2em;
}

#aspect-data {
    position: absolute;
    display: none;
    border: 1px solid #000;
    background-color: #fff;
    white-space: nowrap;
    padding: 0 0.3em;
}

.data-area {
    display: flex;
    justify-content: flex-start;
}

#body-data-wrapper {
    width: 100%;
}

#body-table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}
#body-table td {
    padding-right: 1em;
    border-bottom: 1px solid #000;
    white-space: nowrap;
}
#body-table td:nth-child(2), #body-table td:nth-child(4) {
    text-align: right;
}

#body-table td:last-child {
    padding:0;
    white-space: normal;
}

.body-table__icon {
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.1em;
}

#body-data {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(18em + 600px);
    margin: auto;
}

#body-data h3 {
    text-align: center;
}

#house-data {
    padding: 1em 0;
}

#house-list {
    padding: 0;
    width: fit-content;
}
#house-list li {
    list-style-type: none;
    border-bottom: 1px solid #000;
}

#house-list li span {
    padding-right: 1em;
}

#house-list li span:nth-child(2) {
    text-align: right;
}
#house-list li span:last-child {
    padding-right: 0;
}

.house_name {
    display: inline-block;
    width: 7em;
}

.house_sign  {
    display: inline-block;
    width: 4em;
}

.house_time {
    display: inline-block;
    width: 4em;
}

footer {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 4em;
}

.btn_magnify {
    width: 4em;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 1em;
    color: gray;
    font-weight: bold;
}

#magnify {
    width: 600px;
    text-align: center;
}

.btn_magnify:active {
    outline: none;
    background-color: #ddd;
    color: white;
}

.btn_magnify:focus {
    outline:none;
}

.btn_magnify:disabled {
    opacity: 0.3;
}

.body-class {
    width: fit-content;
    margin: auto;
    text-align: left;
}

.body-class h3 {
    text-align: center;
}

.body-class table {
    margin-bottom: 1em;
    border-collapse: collapse;
    max-width: calc(100% - 2em);
    text-align: left;
    vertical-align: top;
}

.body-class th, .body-class td {
    border: 1px solid black;
    min-width: 6em;
    text-align: left;
    vertical-align: top;
    padding: 0 0.5em;
}

.body-class th {
    text-align: center;
}

.body-class td div {
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: 0.8em;
}

.btn_setting {
    position: relative;
    bottom: 0.3em;
}

#setting {
    overflow: hidden;
}

.setting__hide {
    height: 0;
    margin-bottom: 7em !important;
}

.draw-setting {
    display: flex;
    justify-content: center;
    margin: 0 1em;
}

.aspect-setting {
    margin: 0 1em;
}

.aspect-display {
    display: flex;
    flex-direction: row;
}

.btn_share {
    height: 2em;
    width: 5em;
    color: #fff;
    background: #14cb00;
    border-radius: 0.4em;
    font-weight: 600;
    border: none;
}